* {
  padding: 0%;
  margin: 0%;
}

.App {
  text-align: center;
}

.main {
  margin-top: 0%;
  height: 38rem;
  width: 100%;
  background: linear-gradient(#09203F, #537895);
  opacity: 4;
}

.Form {
  width: 60%;
  height: 100%;
}

.title1 {
  color: #069AA8;
}

.title2 {
  color: #014D6D;
}

.Video {
  display: flex;
  margin: 10px;
}

.ContactForm {
  width: 60%;
  margin: 0 auto;
}

.Doctors {
  width: 100%;
  height: auto;
  background-color: #014D6D;
}

h1 {
  color: #046c99;
  text-align: justify;
}

h3 {
  color: black;
}

p {
  text-align: justify;
  font-family: 'Times New Roman', Times, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
}

.appointment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #09203F;
}

.container {
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.mainbox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.data {
  width: 40rem;
  height: auto;
  padding: 15px;
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  background-color: white;
}

.appointmentdata {
  font-weight: 400;
  font-size: 1.5rem;
  margin-right: 15px;
}

.close {
  width: 13rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  background-color: crimson;
  padding-left: 3px;
}

.close:hover {
  padding: 2px;
}

.Error {
  size: 1rem;
  padding: 5px;
  font-weight: bold;
  color: rgb(242, 100, 100);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}